/* Navbar Styles */
.navbar {
    background-color: #3498db; /* Set your desired background color */
}

.navbar-brand {
    color: #ffffff; /* Set your desired text color for the brand */
    font-size: 1.5rem; /* Set your desired font size */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Set the color of the navbar toggler icon */
}

/* Navbar Links Styles */
.navbar-nav .nav-item {
    margin-right: 10px; /* Adjust the spacing between navbar items */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Set your desired text color for the links */
    font-size: 1rem; /* Set your desired font size */
}

/* Active Link Styles */
.nav-item.active .nav-link {
    font-weight: bold; /* Set the font weight for active links */
}

/* Container Styles */
.container.p-5 {
    margin-top: 20px; /* Adjust the top margin for the container */
}

/* Responsive Styles */
@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin-bottom: 10px; /* Adjust the spacing between navbar items on smaller screens */
    }
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #3498db !important; /* Set your desired background color */
}
