/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Style général des cartes */
.card {
    margin-bottom: 20px; /* Espacement entre les cartes */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
}

.card-body {
    padding: 15px; /* Espacement intérieur pour le contenu de la carte */
}

.card-footer {
    background-color: #f8f9fa; /* Couleur de fond pour le pied de page de la carte */
    padding: 10px; /* Espacement intérieur pour le pied de page */
    text-align: right; /* Alignement du texte à droite */
    font-style: italic; /* Style de la police pour la date */
}

/* Style général du formulaire */
form {
    padding: 15px; /* Espacement intérieur pour le formulaire */
}

.form-group {
    margin-bottom: 15px; /* Espacement entre les groupes de formulaires */
}

label {
    display: block; /* Assurez-vous que les labels sont sur leur propre ligne */
    margin-bottom: 5px; /* Espacement entre le label et le champ de formulaire */
}

input[type="text"],
textarea {
    width: 100%; /* Pleine largeur pour les champs de texte */
    padding: 8px; /* Espacement intérieur pour les champs de texte */
    border: 1px solid #ddd; /* Bordure subtile pour les champs de texte */
    border-radius: 4px; /* Arrondir les coins des champs de texte */
}

button[type="submit"] {
    background-color: #007bff; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte pour le bouton */
    border: none; /* Aucune bordure pour le bouton */
    padding: 10px 15px; /* Espacement intérieur pour le bouton */
    border-radius: 4px; /* Arrondir les coins du bouton */
    cursor: pointer; /* Curseur de pointeur pour indiquer la cliquabilité */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}
